.card{
    border: 1px solid black;
    max-height: fit-content;
    width: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.card-title{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.del-btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: red;
    cursor: pointer;
    padding: 0.2rem 0;
    font-size: 1.1rem;
}